.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprof.out
.RDataTmp
.Rhistory
.Rprofile
.idea
__pycache__/

lib/Rplots.pdf
etc/INSTINCT.cfg
etc/Projects/*
!etc/Projects/README.txt
!etc/Projects/Demo
cloud_archive
lib/Archive/*
lib/junk/*
Outputs/*
Cache/*
lib/user/*
!lib/user/README.txt
!lib/user/contrib
gitcommands.txt
Data
tmp