.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprof.out
.RDataTmp
.Rhistory
.Rprofile
.idea
__pycache__/


Data/
etc/Projects/*
!etc/Projects/README.txt
cloud_archive
lib/Archive/*
lib/junk/*
Outputs/*
Cache/*
etc/lib/user/*
!etc/lib/user/README.txt
!etc/lib/user/contrib