.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprof.out
.RDataTmp
.Rhistory
.Rprofile
.idea


Data/SoundFiles/
Out/
tmp/
old/
etc/Projects/*
!etc/Projects/README.txt
cloud_archive
lib/Archive/*
lib/junk/*
Outputs/*
Cache/*

etc/instinct-test1-7452ad442e25.json